.help-text {
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: 'Lato', sans-serif;
	text-align: center;
	transform: translate(-50%, 12px);
	color: white;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.015em;
	opacity: 0;
	margin-top: 55px;
	transition: opacity 0.15s ease-in-out, transform 0s ease-in-out 0.15s;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.06);
	width: 100%;
}

.help-text--visible {
	opacity: 1;
	transition: opacity 1.8s ease-in-out, transform 2s ease-out;
	transform: translate(-50%, 0);
}