.info-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 26px 28px;
	opacity: 0;

	@media (min-width: 768px) {
		padding: 39px 43px;
	}
}

.info-text__text {
	display: block;
	color: white;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	// letter-spacing: 0.02em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.06), 0 0 20px rgba(0,0,0,0.06);
	text-rendering: optimizeLegibility;
}

.info-text__text--thread {
	margin-bottom: 4px;
	font-size: 22px;
	line-height: 1em;

	font-family: 'BluuNext';
	font-weight: 700;

	@media (min-width: 768px) {
		font-size: 40px;
		margin-bottom: 0px;
	}
}

.info-text__thread--title {
	// font-weight: 700;
	margin-right: 6px;
	font-size: 1em;
	line-height: 1em;
	// font-family: 'Merriweather', serif;

	

	

	// letter-spacing: 0.012em;
}

.info-text__thread--subtitle {
	// font-weight: 400;
	font-size: 0.76em;
	line-height: 1em;
	// font-family: 'Merriweather', serif;

	// font-family: 'Bagnard';
	// font-weight: 700;

	opacity: 0.9;
	// text-transform: uppercase;
	letter-spacing: -0.01em;

	@media (min-width: 768px) {
		font-size: 0.7em;
		opacity: 0.85;
	}
}

.info-text__text--theme {
	font-size: 30px;
	font-weight: 200;
	font-family: 'WorkSans', sans-serif;
	// font-family: 'Open Sans', sans-serif;
	// font-family: 'Source Sans Pro', sans-serif;
	// font-family: 'Lato', sans-serif;
	line-height: 0.9em;
	// letter-spacing: -0.001em;
	// 
	@media (min-width: 768px) {
		font-size: 58px;
		letter-spacing: -0.02em;
	}
}