* {
	box-sizing: border-box;
}

body, html {
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
}

.interface { 
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


@import './components/viewfinder/viewfinder.scss';
@import './components/info-text/info-text.scss';
@import './components/status-indicator/status-indicator.scss';
@import './components/help-text/help-text.scss';
@import './components/intro/intro.scss';