$focus-transform-x: 20px;
$focus-transform-y: 8px;

.viewfinder {
	position: absolute;
	width: 100px;
	height: 75px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.33s ease-in-out;
	opacity: 0;

	@media (min-width: 768px) {
		margin-top: -15px;
	}
}

.viewfinder--visible {
	opacity: 1;
}


.viewfinder__part {
	width: 25px;
	height: 25px;
	position: absolute;
	border-width: 3px;
	border-color: #fff;
}

.viewfinder__part--tl {
	top: 0;
	left: 0;
	border-left-style: solid;
	border-top-style: solid;
}

.viewfinder__part--tr {
	top: 0;
	right: 0;
	border-top-style: solid;
	border-right-style: solid;
}

.viewfinder__part--bl {
	bottom: 0;
	left: 0;
	border-bottom-style: solid;
	border-left-style: solid;
}

.viewfinder__part--br {
	bottom: 0;
	right: 0;
	border-bottom-style: solid;
	border-right-style: solid;
}

.viewfinder__speaker {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 85px;
	height: auto;
	transform: translate(-50%, -50%);
	transition: opacity 0.33s ease-in-out;
	opacity: 0;
}

.viewfinder__speaker--visible {
	opacity: 0.9;
}
// .viewfinder--focused {
// 	.viewfinder__part--tl {
// 		transform: translate($focus-transform-x, $focus-transform-y);
// 	}

// 	.viewfinder__part--tr {
// 		transform: translate(#{$focus-transform-x * -1}, $focus-transform-y);
// 	}

// 	.viewfinder__part--bl {
// 		transform: translate($focus-transform-x, #{$focus-transform-y * -1});
// 	}

// 	.viewfinder__part--br {
// 		transform: translate(#{$focus-transform-x * -1}, #{$focus-transform-y * -1});
// 	}
// }